<section class="users-section">
  <ul class="users-list">
    <% @others.each do |user| %>
      <li class='card'>
        @<%= user.name %>

        <div class="profile-link">
          <%= link_to 'View Profile',  user_path(user), class: 'profile-link' %>
        </div>

        <span class='friend-invite-link'>
          <%= friend_status_index(user) %>
        </span>

      </li>
    <% end %>

  </ul>
</section>
