@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");
#00b3ff:
$primary-color-dark;
#00b3ff:$primary-color;
#dcedc8:$primary-color-light;
#212121:$primary-color-text;
#bdbdbd:$divider-color
};
none:outline;
border-box:box-sizing;
0:padding;
0:margin{
* 
};
400:font-weight;
"Roboto", sans-serif:font-family;
relative:position;
#fff:background{
body 
};
700:font-weight{
h1,
h2,
h3 
};
none:list-style-type{
ul 
};
$primary-color-text:color;
none:text-decoration{
a 
}
}
};
0 15px:margin;
left:float{
.menu-item ;
space-between:justify-content;
80%:width{
.menu 
};
#fff:color{
a:hover 
};
#fff:color{
.active a 
};
900:font-weight;
uppercase:text-transform;
$primary-color-light:color{
a ;
$primary-color-light:color;
$primary-color-dark:background-color;
16px 48px:padding;
space-between:justify-content;
flex:display{
.nav 
};
16px:padding;
center:align-items;
column:flex-direction;
flex:display{
.main 
};
14px:font-size;
dimgrey:color;
5px:padding;
center:text-align;
30px:height;
100%:width;
8px:margin-bottom{
.alert,
.notice 
};
#d4f6c6:background-color{
.notice 
};
#f6cfc6:background-color{
.alert 
};
red:color;
10px:font-size{
.errors 
};
6px:border-radius;
5px:padding;
center:text-align;
12px:font-size;
130px:width;
#00b3ff:color;
1px solid #00b3ff:border;
5px:margin-top;
italic:font-style;
uppercase:text-transform{
.status 
}
};
70%:margin-left;
30%:width{
.btn-secondary 
};
100%:width{
.btn-primary 
}
};
1px solid #f00:border{
.form-control ;
100%:width{
.field_with_errors 
};
4px:border-radius;
4px 0:margin;
8px:padding;
64px:height;
1px solid $divider-color:border;
100%:width{
.form-control 
};
none:display{
label ;
100%:width;
center:align-items;
column:flex-direction;
flex:display{
.new_comment,
.new_post 
}
}
};
100%:width{
input[type="submit"] {
.actions.reset 
};
0.8:opacity{
input[type="submit"]:hover 
};
nowrap:white-space;
center:text-align;
calc(0.5em - 1px) 1em:padding;
center:justify-content;
pointer:cursor;
#fff:color;
none:border;
$primary-color-dark:background-color;
900:font-weight;
uppercase:text-transform;
3px:border-radius{
input[type='submit'] 
};
8px 0:margin;
center:justify-content;
flex:display{
.actions 
}
};
fit-content:width{
input[type="checkbox"] 
};
$primary-color-light:background-color;
8px:padding;
4px:border-radius;
1px solid $divider-color:border;
100%:width{
input 
};
8px:margin-bottom{
label ;
8px 0:padding;
100%:width{
.field ;
8px 0:margin;
80%:width{
form 
};
capitalize:text-transform;
16px:margin-bottom;
center:text-align{
.title 
}
};
pointer:cursor{
input[type='submit']:hover 
};
80px:min-width{
input[type='submit'] 
};
90px:width{
form ;
flex:
display
};
italic:font-style;
14px:font-size;
auto:margin{
p {
.status-btn-tag 
}
}
}
};
0.6em:font-size;
3px:right;
absolute:position{
span 
};
90%:width;
0.8em:font-size{
p ;
10px:padding;
2px:margin-bottom;
3px:border-radius;
1px solid $divider-color:border-bottom;
flex:display;
relative:position{
.post-comments ;
10%:margin-left;
90%:width;
5px:margin{
.post-comments-section 
};
4px 0:padding;
1.1em:font-size{
.post-content 
}
};
0.6em:font-size{
.post-date 
};
0 4px:margin;
0.9em:font-size;
bold:font-weight;
$primary-color-dark:color{
a ;
right:float{
.post-liking 
}
};
capitalize:text-transform;
$primary-color-dark:color;
0 0 8px:margin{
.post-author ;
left:float{
.post-attribution 
};
column:flex-direction;
flex:display;
16px 0:margin;
100%:width{
.post 
};
100%:width{
.posts 
};
8px 0:margin{
h3 ;
center:align-items;
column:flex-direction;
flex:display;
16px 0:margin;
100%:width{
.timeline 
}
};
$primary-color-dark:color;
10px 0 8px:margin;
0.8em:font-size{
.profile-link 
};
6px:border-radius;
15px 20px:padding;
1.2em:font-size;
capitalize:text-transform;
16px:margin-bottom{
.users-list li ;
10px:margin;
100%:width{
.users-section ;
flex:
display
};
90px:width{
form 
};
80px:min-width{
input[type='submit'] 
};
pointer:cursor{
input[type='submit']:hover 
}

.user-section {
width: 100%;
margin-left: 16px;

h2 {
  text-transform: capitalize;
}

.timeline {
  width: 100%;

  h3 {
    width: 100%;
  }

  justify-content: start;
}
}

#error_explanation {
h2 {
  color: $primary-color-text;
  font-size: 1em;
}

ul {
  color: #f00;
}
}

@media only screen and (min-width: 480px) {
form {
  width: 60%;
}

.new_post,
.timeline,
.user-section,
.users-section {
  width: 70%;
}
}

@media (min-width: 780px) {
form {
  width: 40%;
}

.new_post,
.timeline,
.user-section,
.users-section {
  width: 50%;
}
}
